-- 菜单 SQL
select  max(id) into @max_id from sys_menu;
select id into @parent_id from sys_menu where path = '/${prefix}' and is_del=0;
select  max(sort) into @max_sort from sys_menu where pid=@parent_id;

insert into sys_menu (id, name, pid, sort, icon,path, hidden, type, create_user_id, create_user_name, create_time, is_del, component)
values(@max_id + 1,'${tableComment}管理', @parent_id, @max_sort+1, 'shopping', '${classname}', '0', '1', '1', 'admin', now(3),'0','${prefix}/${classname}/index');
